.mode-desktop {
    display: block;
}

.mode-mobile {
    display: none;
}

@media (max-width: 1200px) {
    .mode-desktop {
        display: none;
    }

    .mode-mobile {
        display: block;
    }
}

/* MODO DESKTOP */

.div-one {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #ECF0FF;
}

.logo {
    position: absolute;
    width: 99px;
    height: 16px;
    margin-left: calc(100% / 14);
    margin-top: 24px;
}

.emoticon {
    position: absolute;
    margin-left: calc((100% / 14) + 64px);
    /* margin-left: 200px; */
    margin-top: 98px;
}

.header-title {
    position: absolute;
    width: 55px;
    height: 16px;
    margin-left: calc((100% / 14) + (100% / 56));
    margin-top: 370px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #494F66;
}

.title {
    position: absolute;
    width: 320px;
    height: 96px;
    margin-left: calc((100% / 14) + (100% / 56));
    margin-top: 390px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.2px;
    color: #494F66;
}

.bold {
    color: #FF1C44;
}

.subtitle { 
    position: absolute;
    width: 288px;
    height: 48px;
    margin-left: calc((100% / 14) + (100% / 56));
    margin-top: 502px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #676F8F;
}

/* MODO MOBILE */

.emoticon-sm {
    position: absolute;
    right: 0px;
    margin-top: 88px;
}

.header-title-sm {
    position: absolute;
    width: 55px;
    height: 16px;
    margin-left: 32px;
    margin-top: 96px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #494F66;
}

.title-sm {
    position: absolute;
    width: 200px;
    height: 96px;
    margin-left: 32px;
    margin-top: 120px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.6px;
    color: #494F66;
}

.subtitle-sm { 
    position: absolute;
    width: 183px;
    height: 48px;
    margin-left: 32px;
    margin-top: 216px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #676F8F;
}