.select-doc {
    position: relative;
    width: 61.43px;
    height: 52px;
    left: 16.11px;
    outline: none;
    border: 0;
}

#mainselection {
    width: 70px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #494F66;
}

.input-form {
    position: relative;
    width: 250px;
    height: 50px;
    left: 16.11px;
    border: 1.00694px solid #FFFFFF;
    outline: none;
    border: 0;
}

::placeholder {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #A3ABCC;
}

.checkbox {
    background: #43B748;
    border-radius: 4px;
    width:20px;
    height:20px;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
}

.div-terms {
    position: relative;
    margin-left: 12px
}

.label-terms {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #676F8F;
}