.mode-desktop {
    display: block;
}

.mode-mobile {
    display: none;
}

@media (max-width: 1200px) {
    .mode-desktop {
        display: none;
    }

    .mode-mobile {
        display: block;
    }
}

/* MODO DESKTOP */

.doubt {
    position: absolute;
    width: 131px;
    right: calc((100% / 14) + 116px);
    margin-top: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.2px;
    color: #676F8F;
}

.icon-phone {
    position: absolute;
    right: calc((100% / 14) + 88px);
    margin-top: 26px;
}

.number-phone {
    position: absolute;
    width: 88px;
    right: calc(100% / 14);
    margin-top: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #6F7DFF;
}

/* MODO MOBILE */

.icon-phone-sm {
    position: absolute;
    right: 96px;
    margin-top: 26px;
}

.number-phone-sm {
    position: absolute;
    width: 88px;
    right: 32px;
    margin-top: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #6769FF;
}