.wrapper {
    display: grid;
    grid-template-columns: 22fr 112fr 184fr 22fr;
}

.wrapper-sm {
}

@media (max-width: 1200px) {
    .wrapper {
        /* grid-template-columns: 32px 100%;  */
        display: none;
    }

    .wrapper-sm {
        /* grid-template-columns: 32px 100%;  */
        display: block;
    }
}

/* MODO DESKTOP */

.div-one {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #ECF0FF;
}

.title-form {
    position: relative;
    width: 288px;
    height: 36px;
    margin-left: calc((100% / 23) * 7);
    top: 112px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.2px;
    color: #494F66;
}

.div-content-1 {
    display: flex;
    margin-top: 172px;
}

.div-select1 {
    position: relative;
    width: 96.67px;
    height: 56px;
    left: calc((100% / 23) * 7);
    border: 1.00694px solid #C5CBE0;
    box-sizing: border-box;
    background: #FFFFFF;
}

.div-select2 {
    position: relative;
    width: 191.33px;
    height: 56px;
    left: calc((100% / 23) * 7);
    border: 1.00694px solid #C5CBE0;
    box-sizing: border-box;
    background: #FFFFFF;
}

.input-doc {
    position: relative;
    width: 159.11px;
    height: 50px;
    left: 16.11px;
    border: 1.00694px solid #FFFFFF;
    outline: none;
    border: 0;
}

.input-form {
    position: relative;
    width: 250px;
    height: 50px;
    left: 16.11px;
    border: 1.00694px solid #FFFFFF;
    outline: none;
    border: 0;
}

::placeholder {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #A3ABCC;
}

.div-content-2 {
    position: relative;
    width: 288px;
    height: 56px;
    left: calc((100% / 23) * 7);
    margin-top: 16px;
    border: 1.00694px solid #C5CBE0;
    box-sizing: border-box;
    background: #FFFFFF;
}

.div-content-3 {
    position: relative;
    width: 288px;
    height: 56px;
    left: calc((100% / 23) * 7);
    margin-top: 16px;
    border: 1.00694px solid #C5CBE0;
    box-sizing: border-box;
    background: #FFFFFF;
}

.div-content-4 {
    position: relative;
    width: 288px;
    display: flex;
    left: calc((100% / 23) * 7);
    margin-top: 16px;
}

.div-content-5 {
    position: relative;
    width: 192px;
    left: calc((100% / 23) * 7);
    margin-top: 40px;
}

.button-end {
    background: #EF3340;
    border-radius: 8px;
    width: 192px;
    height: 56px;
    border: 1.00694px solid #EF3340;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.error-message {
    position: relative;
    left: calc(((100% / 23) * 7) + 4px);
    color: #FF1C44;
}


/* MODO MOBILE */

.title-form-sm {
    position: relative;
    width: 296px;
    height: 36px;
    margin-left: 32px;
    top: 348px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.2px;
    color: #494F66;
}

.div-content-1-sm {
    display: flex;
    width: calc(100% - 32px);
    margin-top: 372px;
}

.div-select1-sm {
    position: relative;
    width: 33%;
    height: 56px;
    margin-left: 32px;
    border: 1.00694px solid #C5CBE0;
    box-sizing: border-box;
    background: #FFFFFF;
}

.div-select2-sm {
    position: relative;
    width: 67%;
    height: 56px;
    border: 1.00694px solid #C5CBE0;
    box-sizing: border-box;
    background: #FFFFFF;
}

.div-content-2-sm {
    position: relative;
    width: calc(100% - 64px);
    height: 56px;
    margin-left: 32px;
    margin-top: 0px;
    border: 1.00694px solid #C5CBE0;
    box-sizing: border-box;
    background: #FFFFFF;
}

.div-content-3-sm {
    position: relative;
    width: calc(100% - 64px);
    height: 56px;
    margin-left: 32px;
    margin-top: 0px;
    border: 1.00694px solid #C5CBE0;
    box-sizing: border-box;
    background: #FFFFFF;
}

.div-content-4-sm {
    position: relative;
    width: calc(100% - 64px);
    display: flex;
    margin-left: 32px;
    margin-top: 16px;
}

.div-content-5-sm {
    position: relative;
    width: calc(100% - 64px);
    margin-left: 32px;
    margin-top: 32px;
}

.button-end-sm{
    background: #EF3340;
    border-radius: 8px;
    width: 100%;
    height: 56px;
    border: 1.00694px solid #EF3340;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.input-doc-sm {
    position: relative;
    width: 67%;
    height: 50px;
    left: 16.11px;
    border: 1.00694px solid #FFFFFF;
    outline: none;
    border: 0;
}

.error-message-sm{
    position: relative;
    width: calc(100% - 64px);
    margin-left: 36px;
    color: #FF1C44;
}